## importing required packages

- import numpy for linear algebra
- import pandas for loading the dataset, data processing
- import matplotlib and seaborn for visualization

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Load the datasets

- to take the sample :
    - we sample() function of pandas to extract sample from pandas.dataframe, using the random sampling method

In [2]:
df = pd.read_csv('./Final_dataset.csv')
df.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,...,total_amount,congestion_surcharge,PU_zone,PU_borough,PU_latitude,PU_longitude,DO_zone,DO_borough,DO_latitude,DO_longitude
0,0,1.0,2020-01-21 18:48:44,2020-01-21 19:08:40,2.0,4.80,1.0,N,137,256,...,22.80,2.5,Kips Bay,Manhattan,40.739546,-73.977083,Williamsburg (South Side),Brooklyn,40.710732,-73.943609
1,1,2.0,2020-01-12 04:08:39,2020-01-12 04:10:16,1.0,0.57,1.0,N,107,107,...,7.30,2.5,Gramercy,Manhattan,40.735519,-73.984079,Gramercy,Manhattan,40.735519,-73.984079
2,2,1.0,2020-01-27 12:12:33,2020-01-27 12:21:34,1.0,0.90,1.0,Y,137,164,...,11.30,2.5,Kips Bay,Manhattan,40.739546,-73.977083,Midtown South,Manhattan,40.749842,-73.984251
3,3,1.0,2020-01-31 09:55:46,2020-01-31 10:07:18,1.0,1.80,1.0,N,141,143,...,13.80,2.5,Lenox Hill West,Manhattan,40.769382,-73.959474,Lincoln Square West,Manhattan,40.771060,-73.980557
4,4,2.0,2020-01-24 00:24:09,2020-01-24 00:47:14,1.0,9.06,1.0,N,138,90,...,44.90,2.5,LaGuardia Airport,Queens,40.775714,-73.873364,Flatiron,Manhattan,40.741059,-73.989642
5,5,1.0,2020-01-10 13:16:29,2020-01-10 13:23:52,0.0,0.90,1.0,N,231,144,...,10.80,2.5,TriBeCa/Civic Center,Manhattan,40.716986,-74.092108,Little Italy/NoLiTa,Manhattan,40.721006,-73.994702
6,6,2.0,2020-01-14 23:51:36,2020-01-14 23:58:55,2.0,1.37,1.0,N,230,142,...,13.56,2.5,Times Sq/Theatre District,Manhattan,40.758168,-73.985525,Lincoln Square East,Manhattan,40.775707,-73.991420
7,7,2.0,2020-01-19 07:41:25,2020-01-19 07:46:44,1.0,0.71,1.0,N,143,239,...,8.80,2.5,Lincoln Square West,Manhattan,40.771060,-73.980557,Upper West Side South,Manhattan,40.769244,-73.990767
8,8,1.0,2020-01-13 13:01:42,2020-01-13 13:07:07,1.0,0.60,1.0,N,237,237,...,8.30,2.5,Upper East Side South,Manhattan,40.779468,-73.958265,Upper East Side South,Manhattan,40.779468,-73.958265
9,9,1.0,2020-01-25 04:33:47,2020-01-25 04:40:19,1.0,1.50,1.0,N,158,211,...,12.35,2.5,Meatpacking/West Village West,Manhattan,40.739713,-74.009671,SoHo,Manhattan,40.722718,-74.001559

In [3]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

## Exploratory Data Analysis ( EDA )

#### shape

- returns number of rows and columns

In [4]:
df.shape

(95073, 26)

#### columns in dataset

- print the columns names

In [5]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'PU_zone', 'PU_borough',
       'PU_latitude', 'PU_longitude', 'DO_zone', 'DO_borough', 'DO_latitude',
       'DO_longitude'],
      dtype='object')

#### Demographic information of Customer & Vendor

    1. 'VendorID' – code indicating the TPER ( Taxicab and Livery Passeng  er ENchancement Programs (TPEP ) provider that provided the record	
	2. 'tpep_pickup_datetime' – pick up date and time 
	3. 'tpep_dropoff_datetime' – drop off date and time
    4. 'passenger_count' – passenger count 
	5. 'trip_distance' – elapsed trip distance in miles reported by the taximeter 
	6. 'RatecodeID' – final rate code effect at the end of the trip
		1 – Standard Rate
		2 – JFK
		3 – Newark
		4 – Nassau
		5 – Negotiated fare
		6 – group ride
	7. 'store_and_fwd_flag' – flag indicated whether the trip record was held in vehicle
		Y – store and forward trip
		N – not a store and forward trip
    8. 'PULocationID' – TLC Taxi zone in which taximeter was engaged 
	9. 'DOLocationID' – TLC Taxi zone in whoch taximeter was disengaged 
	10. 'payment_type' – numeric code signifying the payment mode
		1 – credit card
		2 – cash
		3 – no charge
		4 – dispute
		5 – unknown
		6 – voided trip
 	11. 'fare_amount' – time and distance fare calculated by the meter 
	12. 'extra' – miscellaneous extras and surcharges.
		1. Rush charge – 0.5 USD
		2. Overnight charge – 1 USD
    13. 'mta_tax' – 0.50 MTA tax, automatically added 
	14. 'tip_amount' – tip amount. field is automatically populated for credit card tips., cash tips are not included. 
	15. 'tolls_amount' – total amount of all tolls paid in trip 
	16. 'improvement_surcharge' – 0.30 imporvement surcharge assessed trips at the flag drop.
        17. 'total_amount' – total amount charged to passengers. Does not include cash tips. 
	18. 'congestion_surcharge' – additional charge added to base charge during unusal events like strikes, bad winter, major port fires.
    19. zone_x - pick up zone
    20. borough_x - pick up borough
    21. PUlatitude - pick up latitude
    22. PUlongitude - pick up longitude
    23. zone_y - drop off zone
    24. borough_y - drop off borough
    25. DOlatitude - drop off latitude
    26. DOlongitude - drop off longitude

#### info()

- it will tell you how many entries you have, the names of each column, the data type of each column, and how many non-null values you have in each column

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95073 entries, 0 to 95072
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               89025 non-null  float64
 1   tpep_pickup_datetime   95073 non-null  object
 2   tpep_dropoff_datetime  95073 non-null  object
 3   passenger_count        89025 non-null  float64
 4   trip_distance          95073 non-null  float64
 5   RatecodeID             89025 non-null  float64
 6   store_and_fwd_flag     89025 non-null  object
 7   PULocationID           95073 non-null  int64
 8   DOLocationID           95073 non-null  int64
 9   payment_type           89025 non-null  float64
 10  fare_amount            95073 non-null  float64
 11  extra                  95073 non-null  float64
 12  mta_tax                95073 non-null  float64
 13  tip_amount             95073 non-null  float64
 14  tolls_amount           95073 non-null  float64
 15  improvement_surcharge  95073 non-null  float64
 16  total_amount           95073 non-null  float64
 17  congestion_surcharge   95073 non-null  float64
 18  PU_zone                93976 non-null  object
 19  PU_borough             93976 non-null  object
 20  PU_latitude            93976 non-null  float64
 21  PU_longitude           93976 non-null  float64
 22  DO_zone                94199 non-null  object
 23  DO_borough             94199 non-null  object
 24  DO_latitude            94199 non-null  float64
 25  DO_longitude           94199 non-null  float64
dtypes: float64(17), int64(2), object(7)
memory usage: 18.9+ MB

###### descriptive statistics

- Descriptive statistics is a helpful way to understand characteristics of your data and to get a quick summary of it. 
- The describe function applies basic statistical computations on the dataset like extreme values, count of data points standard deviation etc. 
- Any missing value or NaN value is automatically skipped.

In [7]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,PU_latitude,PU_longitude,DO_latitude,DO_longitude
count,89025.000000,89025.000000,95073.000000,89025.000000,95073.000000,95073.000000,89025.000000,95073.000000,95073.000000,95073.000000,95073.000000,95073.000000,95073.000000,95073.000000,95073.000000,93976.000000,93976.000000,94199.000000,94199.000000
mean,1.660837,1.421691,7.620286,1.043123,163.195797,159.496092,1.297478,12.632119,1.020078,0.492027,1.971100,0.287594,0.297072,18.146813,2.137515,40.842142,-74.123314,40.835018,-74.098062
std,0.473428,1.062810,750.049643,0.800857,68.024815,71.973551,0.498615,11.710949,1.236431,0.078674,2.556421,1.481533,0.041267,13.519539,0.906076,0.496458,0.910978,0.472547,0.856411
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-138.000000,-4.500000,-0.500000,-1.200000,-29.620000,-0.300000,-168.920000,-2.500000,40.508475,-79.439392,40.508475,-79.439392
25%,1.000000,1.000000,1.000000,1.000000,114.000000,106.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,11.000000,2.500000,40.741059,-73.991360,40.739713,-73.990767
50%,2.000000,1.000000,1.740000,1.000000,162.000000,161.000000,1.000000,9.000000,0.500000,0.500000,1.850000,0.000000,0.300000,14.190000,2.500000,40.759822,-73.981243,40.759822,-73.980557
75%,2.000000,1.000000,3.200000,1.000000,234.000000,234.000000,2.000000,14.000000,2.500000,0.500000,2.750000,0.000000,0.300000,20.150000,2.500000,40.775707,-73.961511,40.779468,-73.959474
max,2.000000,7.000000,136619.470000,99.000000,265.000000,265.000000,4.000000,428.000000,8.250000,0.500000,222.000000,40.000000,0.300000,515.760000,2.500000,44.810791,-72.515328,44.810791,-72.515328

#### Conclusion:


- The fare_amount variable has negative value as minimum value which is unusual
- The passenger_count variable having 0 as minimum no of passengers
- The pickup and dropoff zone's location_Id shouldn't be greter than 263

###### checking the missing values

In [8]:
df.isna().sum()

VendorID                 6048
tpep_pickup_datetime        0
tpep_dropoff_datetime       0
passenger_count          6048
trip_distance               0
RatecodeID               6048
store_and_fwd_flag       6048
PULocationID                0
DOLocationID                0
payment_type             6048
fare_amount                 0
extra                       0
mta_tax                     0
tip_amount                  0
tolls_amount                0
improvement_surcharge       0
total_amount                0
congestion_surcharge        0
PU_zone                  1097
PU_borough               1097
PU_latitude              1097
PU_longitude             1097
DO_zone                   874
DO_borough                874
DO_latitude               874
DO_longitude              874
dtype: int64

## Data Cleansing

###### misiing values

In [10]:
ndf=df.isnull()
ndf.describe()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,PU_zone,PU_borough,PU_latitude,PU_longitude,DO_zone,DO_borough,DO_latitude,DO_longitude
count,95073,95073,95073,95073,95073,95073,95073,95073,95073,95073,...,95073,95073,95073,95073,95073,95073,95073,95073,95073,95073
unique,2,1,1,2,1,2,2,1,1,2,...,1,1,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,89025,95073,95073,89025,95073,89025,89025,95073,95073,89025,...,95073,95073,93976,93976,93976,93976,94199,94199,94199,94199

###### Removing records having fare_amount less than 2.5

In [11]:
df = df[df['fare_amount']>2.5]

###### Removing records having passenger_count as 0

In [12]:
df = df[df['passenger_count']>0]

###### Removing location id which are outside the NYC

In [13]:
df = df[df['PULocationID']<=263]
df = df[df['DOLocationID']<=263]

#### cleansing the data

In [14]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
PU_zone                  0
PU_borough               0
PU_latitude              0
PU_longitude             0
DO_zone                  5
DO_borough               5
DO_latitude              5
DO_longitude             5
dtype: int64

###### verification using describe() and info()

In [15]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,PU_latitude,PU_longitude,DO_latitude,DO_longitude
count,85158.000000,85158.000000,85158.000000,85158.00000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85158.000000,85153.000000,85153.000000
mean,1.674487,1.455706,2.679198,1.02803,163.914805,160.296425,1.281312,11.594229,1.035582,0.498327,1.993250,0.199191,0.299961,17.178515,2.274390,40.843221,-74.130074,40.835268,-74.104499
std,0.468569,1.056160,3.237121,0.53333,66.757801,71.137214,0.468194,9.512572,1.224903,0.028877,2.442268,1.201181,0.003409,11.422329,0.716332,0.495619,0.921993,0.468756,0.865301
min,1.000000,1.000000,0.000000,1.00000,1.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.300000,0.000000,40.508475,-79.439392,40.508475,-79.439392
25%,1.000000,1.000000,1.000000,1.00000,114.000000,107.000000,1.000000,6.000000,0.000000,0.500000,0.000000,0.000000,0.300000,10.970000,2.500000,40.741378,-73.991420,40.741059,-73.991360
50%,2.000000,1.000000,1.690000,1.00000,162.000000,161.000000,1.000000,8.500000,0.500000,0.500000,1.860000,0.000000,0.300000,14.080000,2.500000,40.759822,-73.984079,40.760660,-73.981243
75%,2.000000,1.000000,2.910000,1.00000,234.000000,234.000000,2.000000,13.000000,2.500000,0.500000,2.760000,0.000000,0.300000,18.950000,2.500000,40.775707,-73.961595,40.775714,-73.961511
max,2.000000,7.000000,104.800000,99.00000,263.000000,263.000000,4.000000,340.000000,8.250000,0.500000,222.000000,40.000000,0.300000,340.800000,2.500000,44.810791,-72.515328,44.810791,-72.515328

In [16]:
df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85158 entries, 0 to 95072
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               85158 non-null  float64
 1   tpep_pickup_datetime   85158 non-null  object
 2   tpep_dropoff_datetime  85158 non-null  object
 3   passenger_count        85158 non-null  float64
 4   trip_distance          85158 non-null  float64
 5   RatecodeID             85158 non-null  float64
 6   store_and_fwd_flag     85158 non-null  object
 7   PULocationID           85158 non-null  int64
 8   DOLocationID           85158 non-null  int64
 9   payment_type           85158 non-null  float64
 10  fare_amount            85158 non-null  float64
 11  extra                  85158 non-null  float64
 12  mta_tax                85158 non-null  float64
 13  tip_amount             85158 non-null  float64
 14  tolls_amount           85158 non-null  float64
 15  improvement_surcharge  85158 non-null  float64
 16  total_amount           85158 non-null  float64
 17  congestion_surcharge   85158 non-null  float64
 18  PU_zone                85158 non-null  object
 19  PU_borough             85158 non-null  object
 20  PU_latitude            85158 non-null  float64
 21  PU_longitude           85158 non-null  float64
 22  DO_zone                85153 non-null  object
 23  DO_borough             85153 non-null  object
 24  DO_latitude            85153 non-null  float64
 25  DO_longitude           85153 non-null  float64
dtypes: float64(17), int64(2), object(7)
memory usage: 17.5+ MB

In [17]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
PU_zone                  0
PU_borough               0
PU_latitude              0
PU_longitude             0
DO_zone                  5
DO_borough               5
DO_latitude              5
DO_longitude             5
dtype: int64

In [18]:
df = df.replace('0', np.nan)

In [19]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
PU_zone                  0
PU_borough               0
PU_latitude              0
PU_longitude             0
DO_zone                  5
DO_borough               5
DO_latitude              5
DO_longitude             5
dtype: int64

In [20]:
df=df.dropna()

In [21]:
df.isna().sum()

VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
PU_zone                  0
PU_borough               0
PU_latitude              0
PU_longitude             0
DO_zone                  0
DO_borough               0
DO_latitude              0
DO_longitude             0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85153 entries, 0 to 95072
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               85153 non-null  float64
 1   tpep_pickup_datetime   85153 non-null  object
 2   tpep_dropoff_datetime  85153 non-null  object
 3   passenger_count        85153 non-null  float64
 4   trip_distance          85153 non-null  float64
 5   RatecodeID             85153 non-null  float64
 6   store_and_fwd_flag     85153 non-null  object
 7   PULocationID           85153 non-null  int64
 8   DOLocationID           85153 non-null  int64
 9   payment_type           85153 non-null  float64
 10  fare_amount            85153 non-null  float64
 11  extra                  85153 non-null  float64
 12  mta_tax                85153 non-null  float64
 13  tip_amount             85153 non-null  float64
 14  tolls_amount           85153 non-null  float64
 15  improvement_surcharge  85153 non-null  float64
 16  total_amount           85153 non-null  float64
 17  congestion_surcharge   85153 non-null  float64
 18  PU_zone                85153 non-null  object
 19  PU_borough             85153 non-null  object
 20  PU_latitude            85153 non-null  float64
 21  PU_longitude           85153 non-null  float64
 22  DO_zone                85153 non-null  object
 23  DO_borough             85153 non-null  object
 24  DO_latitude            85153 non-null  float64
 25  DO_longitude           85153 non-null  float64
dtypes: float64(17), int64(2), object(7)
memory usage: 17.5+ MB

## Data Preprocessing

In [26]:
df = df.rename(columns={"PU_latitude":"pickup_latitude", "PU_longitude":"pickup_longitude", "DO_latitude":"dropoff_latitude", "DO_longitude":"dropoff_longitude"})
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,total_amount,congestion_surcharge,PU_zone,PU_borough,pickup_latitude,pickup_longitude,DO_zone,DO_borough,dropoff_latitude,dropoff_longitude
0,1.0,2020-01-21 18:48:44,2020-01-21 19:08:40,2.0,4.80,1.0,N,137,256,2.0,...,22.8,2.5,Kips Bay,Manhattan,40.739546,-73.977083,Williamsburg (South Side),Brooklyn,40.710732,-73.943609
1,2.0,2020-01-12 04:08:39,2020-01-12 04:10:16,1.0,0.57,1.0,N,107,107,1.0,...,7.3,2.5,Gramercy,Manhattan,40.735519,-73.984079,Gramercy,Manhattan,40.735519,-73.984079
2,1.0,2020-01-27 12:12:33,2020-01-27 12:21:34,1.0,0.90,1.0,Y,137,164,1.0,...,11.3,2.5,Kips Bay,Manhattan,40.739546,-73.977083,Midtown South,Manhattan,40.749842,-73.984251
3,1.0,2020-01-31 09:55:46,2020-01-31 10:07:18,1.0,1.80,1.0,N,141,143,1.0,...,13.8,2.5,Lenox Hill West,Manhattan,40.769382,-73.959474,Lincoln Square West,Manhattan,40.771060,-73.980557
4,2.0,2020-01-24 00:24:09,2020-01-24 00:47:14,1.0,9.06,1.0,N,138,90,1.0,...,44.9,2.5,LaGuardia Airport,Queens,40.775714,-73.873364,Flatiron,Manhattan,40.741059,-73.989642

In [27]:
def min_max():
    print(df['pickup_longitude'].max(),df['pickup_longitude'].min())
    print(df['pickup_latitude'].max(),df['pickup_latitude'].min())

    print(df['dropoff_longitude'].max(),df['dropoff_longitude'].min())
    print(df['dropoff_latitude'].max(),df['dropoff_latitude'].min())
min_max()

-72.515328 -79.439392
44.8107911 40.50847483
-72.515328 -79.439392
44.8107911 40.50847483

In [28]:
# def coordinate_data():
#     print(df[(df['pickup_longitude']>180) |(df['pickup_longitude']<-180) | (df['pickup_longitude']==0) ]['pickup_longitude'].count())
#     print(df[(df['pickup_latitude']>90) |(df['pickup_latitude']<-90) | (df['pickup_latitude']==0) ]['pickup_latitude'].count())
#     print(df[(df['dropoff_longitude']>180) |(df['dropoff_longitude']<-180) | (df['dropoff_longitude']==0)]['dropoff_longitude'].count())
#     print(df[(df['dropoff_latitude']>90) |(df['dropoff_latitude']<-90) | (df['dropoff_latitude']==0) ]['dropoff_latitude'].count())

# coordinate_data()

0
0
0
0

In [29]:
# df=df[~((df['pickup_longitude']>180) |(df['pickup_longitude']<-180) | (df['pickup_longitude']==0))]
# df=df[~((df['pickup_latitude']>90) |(df['pickup_latitude']<-90) | (df['pickup_latitude']==0))]
# df=df[~((df['dropoff_longitude']>180) |(df['dropoff_longitude']<-180) | (df['dropoff_longitude']==0))]
# df=df[~((df['dropoff_latitude']>90) |(df['dropoff_latitude']<-90) | (df['dropoff_latitude']==0))]

# # call function to check
# coordinate_data()
# min_max()

0
0
0
0
-72.515328 -79.439392
44.8107911 40.50847483
-72.515328 -79.439392
44.8107911 40.50847483

In [30]:
# remove where pickup and drop location are same
print(df[(df['pickup_longitude']==df['dropoff_longitude']) & (df['pickup_latitude']==df['dropoff_latitude'])].shape)
df=df[~((df['pickup_longitude']==df['dropoff_longitude']) & (df['pickup_latitude']==df['dropoff_latitude']))]

(4498, 26)

In [31]:
#boundary for new york latitude longitude...

boundary={"min_lat":40.573143,
         "min_lang":-74.252193,
         "max_lat":41.709555,
         "max_lang":-72.986532}

## Columns Modification

###### datatype change

- changing the data type of 'tpep_dropoff_datetime' and 'tpep_pickup_datetime' from string to timestamp

In [24]:
df['tpep_dropoff_datetime']=df['tpep_dropoff_datetime'].astype('datetime64[ns]')
df['tpep_pickup_datetime']=df['tpep_pickup_datetime'].astype('datetime64[ns]')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85077 entries, 0 to 95059
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               85077 non-null  float64
 1   tpep_pickup_datetime   85077 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  85077 non-null  datetime64[ns]
 3   passenger_count        85077 non-null  float64
 4   trip_distance          85077 non-null  float64
 5   RatecodeID             85077 non-null  float64
 6   store_and_fwd_flag     85077 non-null  object
 7   PULocationID           85077 non-null  int64
 8   DOLocationID           85077 non-null  int64
 9   payment_type           85077 non-null  float64
 10  fare_amount            85077 non-null  float64
 11  extra                  85077 non-null  float64
 12  mta_tax                85077 non-null  float64
 13  tip_amount             85077 non-null  float64
 14  tolls_amount           85077 non-null  float64
 15  improvement_surcharge  85077 non-null  float64
 16  total_amount           85077 non-null  float64
 17  congestion_surcharge   85077 non-null  float64
 18  zone_x                 85077 non-null  object
 19  borough_x              85077 non-null  object
 20  PUlatitude             85077 non-null  float64
 21  PUlongitude            85077 non-null  float64
 22  zone_y                 85077 non-null  object
 23  borough_y              85077 non-null  object
 24  DOlatitude             85077 non-null  float64
 25  DOlongitude            85077 non-null  float64
dtypes: datetime64[ns](2), float64(17), int64(2), object(5)
memory usage: 17.5+ MB

#### add day of week, hour, ride duration as new features 

- Will probably be useful for model
- assume pickup and dropoff on the same day

In [26]:
df['day_of_week']=df['tpep_pickup_datetime'].dt.dayofweek
df['pickup_hour']=df['tpep_pickup_datetime'].dt.hour
df['dropoff_hour']=df['tpep_dropoff_datetime'].dt.hour

In [27]:
df['day_of_month']=df['tpep_pickup_datetime'].dt.day

In [28]:
df['ride_duration_min']= ((df['tpep_dropoff_datetime']-df['tpep_pickup_datetime']).dt.total_seconds())/60

In [29]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,congestion_surcharge,PUlatitude,PUlongitude,DOlatitude,DOlongitude,day_of_week,pickup_hour,dropoff_hour,day_of_month,ride_duration_min
count,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.00000,...,85077.000000,85077.000000,85077.000000,85077.000000,85077.000000,85077.00000,85077.000000,85077.000000,85077.000000,85077.000000
mean,1.674518,1.456645,2.694961,1.026588,163.686707,160.204685,1.280158,11.642222,1.040004,0.49839,...,2.272295,40.841326,-74.126599,40.838312,-74.110361,2.87449,13.968252,14.062402,15.637035,14.443407
std,0.468557,1.055755,3.312976,0.411182,66.858077,71.427988,0.468223,9.689035,1.228702,0.02833,...,0.719319,0.490459,0.912119,0.478072,0.882933,1.88916,5.092500,5.150636,8.770817,58.699368
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,3.000000,0.000000,0.00000,...,0.000000,40.508475,-79.439392,40.508475,-79.439392,0.00000,0.000000,0.000000,1.000000,-48.150000
25%,1.000000,1.000000,1.000000,1.000000,114.000000,107.000000,1.000000,6.000000,0.000000,0.50000,...,2.500000,40.741378,-73.991420,40.741059,-73.991360,1.00000,11.000000,11.000000,8.000000,5.850000
50%,2.000000,1.000000,1.680000,1.000000,162.000000,161.000000,1.000000,8.500000,0.500000,0.50000,...,2.500000,40.759822,-73.984079,40.760660,-73.981243,3.00000,14.000000,14.000000,15.000000,9.550000
75%,2.000000,1.000000,2.900000,1.000000,234.000000,234.000000,2.000000,13.000000,2.500000,0.50000,...,2.500000,40.775707,-73.961595,40.779468,-73.961511,4.00000,18.000000,18.000000,23.000000,15.183333
max,2.000000,6.000000,108.900000,99.000000,263.000000,263.000000,4.000000,380.000000,8.250000,0.50000,...,2.500000,44.810791,-72.515328,44.810791,-72.515328,6.00000,23.000000,23.000000,31.000000,1439.333333

In [30]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,PUlongitude,zone_y,borough_y,DOlatitude,DOlongitude,day_of_week,pickup_hour,dropoff_hour,day_of_month,ride_duration_min
0,2.0,2020-01-25 14:11:41,2020-01-25 14:18:47,1.0,1.10,1.0,N,237,236,1.0,...,-73.958265,Upper East Side North,Manhattan,40.764873,-73.961511,5,14,14,25,7.100000
1,2.0,2020-01-15 06:13:45,2020-01-15 06:18:16,1.0,0.80,1.0,N,263,237,1.0,...,-79.387252,Upper East Side South,Manhattan,40.779468,-73.958265,2,6,6,15,4.516667
2,1.0,2020-01-14 18:18:34,2020-01-14 18:24:29,1.0,0.40,1.0,N,170,107,1.0,...,-73.976097,Gramercy,Manhattan,40.735519,-73.984079,1,18,18,14,5.916667
4,1.0,2020-01-11 10:22:00,2020-01-11 10:29:37,1.0,1.20,1.0,N,239,43,1.0,...,-73.990767,Central Park,Manhattan,40.782773,-73.965363,5,10,10,11,7.616667
5,2.0,2020-01-21 17:59:01,2020-01-21 18:21:05,4.0,2.57,1.0,N,161,211,1.0,...,-73.999015,SoHo,Manhattan,40.722718,-74.001559,1,17,18,21,22.066667
6,2.0,2020-01-12 13:58:31,2020-01-12 14:08:13,2.0,1.78,1.0,N,239,236,1.0,...,-73.990767,Upper East Side North,Manhattan,40.764873,-73.961511,6,13,14,12,9.700000
7,2.0,2020-01-29 18:14:20,2020-01-29 18:21:51,2.0,0.77,1.0,N,163,161,1.0,...,-73.985104,Midtown Center,Manhattan,40.758191,-73.999015,2,18,18,29,7.516667
8,2.0,2020-01-09 12:13:51,2020-01-09 12:20:11,2.0,0.74,1.0,N,237,229,2.0,...,-73.958265,Sutton Place/Turtle Bay North,Manhattan,40.757651,-73.961670,3,12,12,9,6.333333
9,2.0,2020-01-15 19:50:31,2020-01-15 20:04:00,2.0,1.93,1.0,N,161,142,1.0,...,-73.999015,Lincoln Square East,Manhattan,40.775707,-73.991420,2,19,20,15,13.483333
10,1.0,2020-01-16 14:40:15,2020-01-16 14:43:02,2.0,0.40,1.0,N,79,107,1.0,...,-73.987361,Gramercy,Manhattan,40.735519,-73.984079,3,14,14,16,2.783333

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85077 entries, 0 to 95059
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               85077 non-null  float64
 1   tpep_pickup_datetime   85077 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  85077 non-null  datetime64[ns]
 3   passenger_count        85077 non-null  float64
 4   trip_distance          85077 non-null  float64
 5   RatecodeID             85077 non-null  float64
 6   store_and_fwd_flag     85077 non-null  object
 7   PULocationID           85077 non-null  int64
 8   DOLocationID           85077 non-null  int64
 9   payment_type           85077 non-null  float64
 10  fare_amount            85077 non-null  float64
 11  extra                  85077 non-null  float64
 12  mta_tax                85077 non-null  float64
 13  tip_amount             85077 non-null  float64
 14  tolls_amount           85077 non-null  float64
 15  improvement_surcharge  85077 non-null  float64
 16  total_amount           85077 non-null  float64
 17  congestion_surcharge   85077 non-null  float64
 18  zone_x                 85077 non-null  object
 19  borough_x              85077 non-null  object
 20  PUlatitude             85077 non-null  float64
 21  PUlongitude            85077 non-null  float64
 22  zone_y                 85077 non-null  object
 23  borough_y              85077 non-null  object
 24  DOlatitude             85077 non-null  float64
 25  DOlongitude            85077 non-null  float64
 26  day_of_week            85077 non-null  int64
 27  pickup_hour            85077 non-null  int64
 28  dropoff_hour           85077 non-null  int64
 29  day_of_month           85077 non-null  int64
 30  ride_duration_min      85077 non-null  float64
dtypes: datetime64[ns](2), float64(18), int64(6), object(5)
memory usage: 20.8+ MB

In [32]:
df = df[df['ride_duration_min']>0]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85069 entries, 0 to 95059
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               85069 non-null  float64
 1   tpep_pickup_datetime   85069 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  85069 non-null  datetime64[ns]
 3   passenger_count        85069 non-null  float64
 4   trip_distance          85069 non-null  float64
 5   RatecodeID             85069 non-null  float64
 6   store_and_fwd_flag     85069 non-null  object
 7   PULocationID           85069 non-null  int64
 8   DOLocationID           85069 non-null  int64
 9   payment_type           85069 non-null  float64
 10  fare_amount            85069 non-null  float64
 11  extra                  85069 non-null  float64
 12  mta_tax                85069 non-null  float64
 13  tip_amount             85069 non-null  float64
 14  tolls_amount           85069 non-null  float64
 15  improvement_surcharge  85069 non-null  float64
 16  total_amount           85069 non-null  float64
 17  congestion_surcharge   85069 non-null  float64
 18  zone_x                 85069 non-null  object
 19  borough_x              85069 non-null  object
 20  PUlatitude             85069 non-null  float64
 21  PUlongitude            85069 non-null  float64
 22  zone_y                 85069 non-null  object
 23  borough_y              85069 non-null  object
 24  DOlatitude             85069 non-null  float64
 25  DOlongitude            85069 non-null  float64
 26  day_of_week            85069 non-null  int64
 27  pickup_hour            85069 non-null  int64
 28  dropoff_hour           85069 non-null  int64
 29  day_of_month           85069 non-null  int64
 30  ride_duration_min      85069 non-null  float64
dtypes: datetime64[ns](2), float64(18), int64(6), object(5)
memory usage: 20.8+ MB

In [33]:
df.passenger_count.value_counts()

1.0    65109
2.0    11832
3.0     2959
5.0     2358
6.0     1617
4.0     1194
Name: passenger_count, dtype: int64

In [34]:
df.corr()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,...,congestion_surcharge,PUlatitude,PUlongitude,DOlatitude,DOlongitude,day_of_week,pickup_hour,dropoff_hour,day_of_month,ride_duration_min
VendorID,1.000000,0.161431,0.026777,0.009829,-0.003431,0.001511,-0.022021,0.000395,-0.859735,0.014982,...,0.025752,-0.002320,0.000710,-0.003202,0.002042,0.012221,0.009522,0.007756,-0.000973,0.027850
passenger_count,0.161431,1.000000,0.016840,-0.000460,-0.003404,-0.004549,-0.001499,0.010517,-0.131663,0.000811,...,0.011600,-0.001388,0.000541,-0.003946,0.001449,0.022151,0.027447,0.024921,-0.003975,0.025583
trip_distance,0.026777,0.016840,1.000000,0.160227,-0.089265,-0.110087,-0.003793,0.893752,0.004028,-0.065393,...,-0.182800,-0.050788,0.051590,-0.030381,0.044444,0.024597,0.026177,0.027357,-0.000530,0.134949
RatecodeID,0.009829,-0.000460,0.160227,1.000000,-0.019612,-0.023210,-0.005231,0.229085,-0.011678,-0.359082,...,-0.069840,-0.011370,0.010611,-0.010154,0.007913,0.003782,0.000728,0.002479,-0.003506,0.015252
PULocationID,-0.003431,-0.003404,-0.089265,-0.019612,1.000000,0.099840,-0.042210,-0.094547,0.034872,0.012434,...,0.205652,0.261401,-0.253376,0.034454,-0.033595,-0.024941,-0.001536,-0.000189,0.005440,-0.012224
DOLocationID,0.001511,-0.004549,-0.110087,-0.023210,0.099840,1.000000,-0.057549,-0.119441,0.032617,0.043452,...,0.193194,0.027165,-0.024746,0.242933,-0.223068,-0.021579,0.005140,0.005367,-0.004336,-0.021121
payment_type,-0.022021,-0.001499,-0.003793,-0.005231,-0.042210,-0.057549,1.000000,-0.014592,-0.015779,0.004324,...,-0.132122,-0.003268,0.009314,0.002332,0.009855,-0.011292,-0.044825,-0.047960,0.000356,0.000450
fare_amount,0.000395,0.010517,0.893752,0.229085,-0.094547,-0.119441,-0.014592,1.000000,-0.012250,-0.185949,...,-0.234035,-0.055077,0.056900,-0.038607,0.051254,0.013362,0.022445,0.028936,-0.002031,0.147150
extra,-0.859735,-0.131663,0.004028,-0.011678,0.034872,0.032617,-0.015779,-0.012250,1.000000,0.025863,...,0.183584,-0.000695,-0.005793,0.012468,-0.019581,-0.063114,0.148819,0.145587,0.001534,-0.023313
mta_tax,0.014982,0.000811,-0.065393,-0.359082,0.012434,0.043452,0.004324,-0.185949,0.025863,1.000000,...,0.123323,0.007642,-0.006829,0.009259,-0.002484,0.000506,0.005961,0.003751,0.006659,-0.001363
tip_amount,0.021895,0.009013,0.440489,0.123810,-0.011451,-0.017898,-0.476820,0.447654,0.030831,-0.089462,...,0.030580,-0.024811,0.021772,-0.020281,0.014927,0.006024,0.041401,0.048247,-0.008171,0.056447
tolls_amount,0.006994,0.006711,0.554635,0.173238,-0.046302,-0.057920,-0.022383,0.544959,-0.001501,-0.194126,...,-0.138557,-0.023557,0.029345,-0.016031,0.014966,0.003346,0.009424,0.015144,-0.002724,0.073603
improvement_surcharge,0.000224,0.005744,0.001629,-0.238130,0.000547,-0.000644,-0.012854,-0.011502,0.005186,0.108620,...,0.020411,0.002782,-0.002773,0.002943,-0.002527,0.005679,0.005307,0.004287,0.002176,-0.001711
total_amount,0.007819,0.012592,0.886798,0.230308,-0.074401,-0.097407,-0.126071,0.970658,0.021901,-0.182239,...,-0.141750,-0.052234,0.051762,-0.036265,0.043003,0.006447,0.045177,0.052177,-0.003166,0.140644
congestion_surcharge,0.025752,0.011600,-0.182800,-0.069840,0.205652,0.193194,-0.132122,-0.234035,0.183584,0.123323,...,1.000000,0.037378,-0.067471,0.018326,-0.059534,-0.010589,0.010128,0.010050,0.007049,-0.027729
PUlatitude,-0.002320,-0.001388,-0.050788,-0.011370,0.261401,0.027165,-0.003268,-0.055077,-0.000695,0.007642,...,0.037378,1.000000,-0.992292,0.045883,-0.038503,0.010166,-0.019443,-0.021105,0.002295,-0.015302
PUlongitude,0.000710,0.000541,0.051590,0.010611,-0.253376,-0.024746,0.009314,0.056900,-0.005793,-0.006829,...,-0.067471,-0.992292,1.000000,-0.040333,0.036748,-0.012578,0.016699,0.018678,-0.001693,0.015657
DOlatitude,-0.003202,-0.003946,-0.030381,-0.010154,0.034454,0.242933,0.002332,-0.038607,0.012468,0.009259,...,0.018326,0.045883,-0.040333,1.000000,-0.968905,0.003802,0.023085,0.020806,-0.001238,-0.004268
DOlongitude,0.002042,0.001449,0.044444,0.007913,-0.033595,-0.223068,0.009855,0.051254,-0.019581,-0.002484,...,-0.059534,-0.038503,0.036748,-0.968905,1.000000,-0.005607,-0.024863,-0.023045,0.001462,0.009379
day_of_week,0.012221,0.022151,0.024597,0.003782,-0.024941,-0.021579,-0.011292,0.013362,-0.063114,0.000506,...,-0.010589,0.010166,-0.012578,0.003802,-0.005607,1.000000,0.009743,0.004001,-0.000641,-0.002420
pickup_hour,0.009522,0.027447,0.026177,0.000728,-0.001536,0.005140,-0.044825,0.022445,0.148819,0.005961,...,0.010128,-0.019443,0.016699,0.023085,-0.024863,0.009743,1.000000,0.953711,0.006507,0.004968
dropoff_hour,0.007756,0.024921,0.027357,0.002479,-0.000189,0.005367,-0.047960,0.028936,0.145587,0.003751,...,0.010050,-0.021105,0.018678,0.020806,-0.023045,0.004001,0.953711,1.000000,0.006202,0.000437
day_of_month,-0.000973,-0.003975,-0.000530,-0.003506,0.005440,-0.004336,0.000356,-0.002031,0.001534,0.006659,...,0.007049,0.002295,-0.001693,-0.001238,0.001462,-0.000641,0.006507,0.006202,1.000000,-0.001965
ride_duration_min,0.027850,0.025583,0.134949,0.015252,-0.012224,-0.021121,0.000450,0.147150,-0.023313,-0.001363,...,-0.027729,-0.015302,0.015657,-0.004268,0.009379,-0.002420,0.004968,0.000437,-0.001965,1.000000

In [35]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'zone_x', 'borough_x',
       'PUlatitude', 'PUlongitude', 'zone_y', 'borough_y', 'DOlatitude',
       'DOlongitude', 'day_of_week', 'pickup_hour', 'dropoff_hour',
       'day_of_month', 'ride_duration_min'],
      dtype='object')

#### Separate the independent and dependent relationship

In [36]:
x = df.drop(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'zone_x', 'borough_x',
       'PUlatitude', 'PUlongitude', 'zone_y', 'borough_y', 'DOlatitude',
       'DOlongitude', 'day_of_week', 'pickup_hour', 'dropoff_hour',
       'day_of_month', 'ride_duration_min'], axis=1).values

In [37]:
y = df['fare_amount']

#### Split the data into train and tests sets

In [38]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=1234567)

#### Create and train the model

In [39]:
def lg():
    from sklearn.linear_model import LogisticRegressionCV
    
    model = LogisticRegressionCV()
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [40]:
def knn():
    from sklearn.neighbors import KNeighborsRegressor
    
    model = KNeighborsRegressor()
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [41]:
def svm():
    from sklearn.svm import SVR
    
    model = SVR(C=2)
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [42]:
def decision_tree():
    from sklearn.tree import DecisionTreeRegressor
    
    model = DecisionTreeRegressor()
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [43]:
def random_forest():
    from sklearn.ensemble import RandomForestRegressor
    
    model = RandomForestRegressor(n_estimators=100)
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [44]:
def ada_boost():
    from sklearn.ensemble import AdaBoostRegressor
    
    model = AdaBoostRegressor()
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [45]:
def gradient_boost():
    from sklearn.ensemble import GradientBoostingRegressor
    
    model = GradientBoostingRegressor()
    
    params = model.get_params()
    
    model.fit(x_train, y_train)
    
    return model

In [46]:
def xg_boost():
    from xgboost import XGBRegressor
    
    model = XGBRegressor()
    
    params = model.get_params()

    model.fit(x_train, y_train)
    
    return model

In [47]:
def linear_regression():
    from sklearn.linear_model import LinearRegression

    # create the model
    model = LinearRegression()
    
    # train the model
    model.fit(x_train, y_train)
    
    return model

In [48]:
def elastic_net():
    from sklearn.linear_model import ElasticNet

    # create the model
    model = ElasticNet()
    
    # train the model
    model.fit(x_train, y_train)
    
    return model

In [49]:
def lasso():
    from sklearn.linear_model import Lasso

    # create the model
    model = Lasso()
    
    # train the model
    model.fit(x_train, y_train)
    
    return model

In [50]:
def ridge():
    from sklearn.linear_model import Ridge

    # create the model
    model = Ridge()
    
    # train the model
    model.fit(x_train, y_train)
    
    return model

#### model evaluation

In [51]:
def evaluate_model(model, name):
    
    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

    predictions = model.predict(x_test)
    predictions

    mae = mean_absolute_error(y_test, predictions)

    mse = mean_squared_error(y_test, predictions)

    rmse = np.sqrt(mse)

    r2 = r2_score(y_test, predictions)

    result = {
        "mae" : mae,
        "mse" : mse,
        "rmse" : rmse,        
        "r2" : r2
    }
    
    return result

In [52]:
results = []

results.append(evaluate_model(linear_regression(), 'Linear Regression'))
results.append(evaluate_model(elastic_net(), 'Elastic Net Regression'))
results.append(evaluate_model(lasso(), 'Lasso Regression'))
results.append(evaluate_model(ridge(), 'Ridge Regression'))
# results.append(evaluate_model(lg(), 'Logistic Regression'))
results.append(evaluate_model(knn(), 'KNN'))
results.append(evaluate_model(svm(), 'SVM'))
results.append(evaluate_model(decision_tree(), 'Decision Tree'))
results.append(evaluate_model(random_forest(), 'Random Forest'))
results.append(evaluate_model(ada_boost(), 'Ada Boost'))
results.append(evaluate_model(gradient_boost(), 'Gradient Boost'))
results.append(evaluate_model(xg_boost(), 'Extreme Gradient Boost'))

In [53]:
algorithms = ['Linear Regression', 'Elastic Net Regression', 'Ridge Regression', 'Lasso Regression', 'KNN', 'SVM', 'Decision Tree', 'Random Forest', 'Ada Boost', 'Gradient Boost', 'XG Boost']
# algorithms = ['Elastic Net Regression', 'Ridge Regression', 'Lasso Regression']
algo_insights = pd.DataFrame(results, index= algorithms)
algo_insights.columns = ["mae", "mse", "rmse", "r2"]
algo_insights.sort_values(by="r2", ascending=False)
# print(algo_insights)

                             mae        mse      rmse        r2
Gradient Boost          1.370849   8.364800  2.892196  0.903675
XG Boost                1.375129   8.888618  2.981378  0.897643
Random Forest           1.400371   8.958039  2.992998  0.896843
KNN                     1.539554   9.419344  3.069095  0.891531
Decision Tree           1.408326   9.494408  3.081300  0.890667
Linear Regression       1.702275  13.118327  3.621923  0.848935
Lasso Regression        1.702277  13.118333  3.621924  0.848935
SVM                     1.401309  13.328253  3.650788  0.846518
Ridge Regression        1.763930  13.356304  3.654628  0.846195
Elastic Net Regression  1.822189  13.630470  3.691947  0.843037
Ada Boost               2.695734  41.641848  6.453049  0.520471